<section class="container">
  <header class="header d-flex">
      <h2 class="ff-inter">Meu Mural</h2>
      <button routerLink="/criarPensamento" routerLinkActive="active" class="botao">Adicionar pensamento</button>
  </header>
  <div class="mural" *ngIf="listaPensamentos.length > 0, else semPensamentos">
    <div *ngFor="let item of listaPensamentos">
      <app-pensamento [pensamento]="item"></app-pensamento>
    </div>
</div>
</section>
<ng-template #semPensamentos>
  <div class="ff-inter sem-pensamentos">
      <p>Ainda não há pensamentos cadastrados!</p>
</div>
</ng-template>
