<div class="pensamento {{ pensamento.modelo }} ff-roboto-mono" [ngClass]="larguraPensamento()">
  <img src="/assets/imagens/{{ pensamento.modelo }}.png" alt="Aspas coloridas">
  <p class="conteudo">{{ pensamento.conteudo }}</p>
  <p class="autoria"><b>{{ pensamento.autoria }}</b></p>
  <div class="acoes">
      <button class="botao-editar">
          <img src="/assets/imagens/icone-editar.png" alt="Ícone de editar" routerLink="/pensamentos/editarPensamento/{{pensamento.id}}">
      </button>
      <button class="botao-excluir">
          <img src="/assets/imagens/icone-excluir.png" alt="Ícone de excluir" routerLink="/pensamento/excluirPensamento/{{pensamento.id}}">
      </button>
  </div>
</div>
